PUBLIC_SUPABASE_URL=<your supabase url here>
PUBLIC_SUPABASE_UPLOAD_URL=<should probably be the same as the previous variable, only used because cloudflare is being annoying to me>
PUBLIC_SUPABASE_ANON_KEY=<your anon key here (or service key if you don't want to setup security)>
